<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>User information-page</title>
</head>
<body>
<header>
  <div class="container-fluid bg-dark">
    <div class="d-flex flex-row" >
      <div class=" p-1">
        <input type="hidden" id ="user" th:value="${user}" readonly/>
        <h3 class="fw-bold text-white text-lowercase align-middle mt-3 mb-2" id="userName" />
      </div>
      <div class="col-auto p-1">
        <h3 class=" text-white text-lowercase align-middle  mt-3 mb-2"> with roles :</h3>
      </div>
      <div class="col-auto p-1">
        <h3 class=" text-white text-uppercase align-middle  mt-3 mb-0" id="userRoles" ></h3><br>
      </div>
      <div class="col-auto p-4 ms-auto ">
        <a class="btn btn-light text-uppercase fw-bold align-middle" href="/logout"> Logout</a>
      </div>
    </div>
  </div>
</header>


<div class="container-fluid bg-white mt-2">
  <div class="row">
    <div class="d-flex  align-items-start">
      <div class="nav flex-column nav-pills me-2 mt-2 col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</button>
      </div>
      <div class="tab-content ms-3 w-100" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

          <h1>User information-page</h1>
          <div class="flex">
            <div class=" flex-row border bg-white">
              <div class="col-auto">
                <div class="bg-light border-bottom bg-gradient">
                  <h5 class="text-left mx-3">About user</h5>
                </div>
                <div class="my-3 mx-3 border-top bg-white">
                  <table class="table table-striped" size="100%">
                    <thead>
                    <tr>
                      <th>id</th>
                      <th>name</th>
                      <th>surname</th>
                      <th>age</th>
                      <th>email</th>
                      <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="userTableData">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--конец страницы-->
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/userPanel.js"></script>
</body>
</html>
</div>